<div class="jumbotron">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<%=gravatar_tag @user.email,size: 300%>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-4">
			<h3><%=@user.username%></h3>
			<p>Name: <%=@user.name%></p>
			<p>Age: <%=@user.age%></p>
			<p>School: <%=@user.school%></p>
			<p>Work: <%=@user.work%></p>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-4">
			<h3>About me</h3>
			<small><%=@user.bio%></small>
		</div>
	</div>
</div>
<div class="container">
	<%if current_user==@user%>
		<%=link_to "Edit Profile",edit_user_registration_path(current_user),class: "btn btn-warning"%>
	<%else%>
		<p><%=friend_buttons(@user)%></p>
	<%end%>
	<div class="row">
		<!-- last 16 friendships -->
		<div class="col-md-3">
			<div class="panel panel-default">
				<div class="panel-heading">
					Friends (<%=@user.get_friends.size%>)
				</div>
				<div class="panel-body">
					<%@user.get_friends.last(16).each do|user|%>
						<%=link_to user_path(user.username)do%>
							<%= gravatar_tag user.email,size: 40%>
						<%end%>
					<%end%>
				</div>
			</div>
		</div>
		<!-- posts -->
		<div class="col-md-6">
			<% if current_user==@user%>
				<%=render "posts/form"%>
			<%end%>
			<%=render @posts%>
		</div>
		<!-- friendship accepted -->
		<div class="col-md-3">
			<div class="panel-heading">
				Recent Activity
			</div>
			<div class="panel-body">
				<%=render_activities(@activities)%>
			</div>
		</div>
	</div>
	<% if current_user!=@user%>
		<div class="row">
			<div class="col-md-6">
				<div class="panel-heading">
					Send a message
				</div>
				<div class="panel-body">
					<%=render 'message'%>
				</div>
			</div>
		</div>
	<%end%>
</div>